[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3="*"
botocore="*"
python-resize-image="*"
webp="*"

[dev-packages]
python-dotenv="*"

[requires]
python_version = "3.7.2"
